Package: PROJECT
Version: MAJOR.MINOR.SUB-PATCH~CODENAME
Section: science
Priority: optional
Architecture: amd64
Source: PROJECT
Depends: 
Conflicts: CONFLICTPROJECT
Maintainer: Oxford Nanopore Technologies
Description: EPI2ME-Labs Server Manager
